*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

:host {
	color-scheme: light dark;
	background-color: #242424;
	font-synthesis: none;
}

h1 {
	color: aqua;
}

#action-btn {
	padding: 2rem;
	cursor: pointer;
}
button {
	border: 4px solid white;
	border-radius: 8px;
}
button:active {
	border-color: yellowgreen;
}
